html, body {
  height: 100%;
  margin: 0;
  background-color: #2D3E50;
  font-family: 'Open Sans', sans serifa;
  text-decoration: none;
}

.container {
  background-color: #AEAEAE;
  width: 70%;
  min-height: 100%;
  margin: 6% auto;
  border-radius: 20px;
}
